[project]
	description = Gerrit Code Review running on OpenShift
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/csett86
[access "refs/for/refs/*"]
	read = group user/csett86
	push = group user/csett86
	label-Code-Review = -2..+2 group user/csett86
	label-Verified = -1..+1 group user/csett86
	rebase = group user/csett86
	removeReviewer = group user/csett86
	submit = group user/csett86
[access "refs/heads/*"]
	read = group user/csett86
	create = group user/csett86
	push = +force group user/csett86
	pushMerge = group user/csett86
[access "refs/tags/*"]
	push = +force group user/csett86
	pushTag = group user/csett86
	pushSignedTag = group user/csett86
